<div id="<%= dom_id message %>">
  <p>
    <strong>Body:</strong>
    <%= message.body %>
  </p>

  <p>
    <strong>Inbox:</strong>
    <%= message.inbox_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= message.user_id %>
  </p>

</div>
